body{
    background-color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
}

header{
    height: 100px;
    padding: 10px;
}

header a{
    padding: 8px;
    border: 1px solid rgb(70, 166, 255);

    text-decoration: none;
    color: rgb(70, 166, 255);
}

#calender{
    width: 70%;
    justify-self: center;
}

#nextCalenderPage{
    border: 1px solid black;
    height: 30px;
    width: 30px;
    place-self: center;
    text-align: center;
    align-content: center;
}

#calender th{
    width: 14.28%;
    border: 1px solid black;
}

.calenderDate{
    border: 1px solid black;
    height: 6.5vw;

    position: relative;
}

#changeTeam{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

#changeTeamImg{
    height: 50px;
}

.arrow{
    border: 1px solid black;
    width: 20px;
    text-align: center;
}

/*Player and team stats page*/
#statsPage{
    background-color: rgb(43, 43, 43);
    color: rgb(159, 209, 255);
}

#playerTable, #teamTable{
    overflow-x: scroll;
    font-size: 13px;
}

#statsPage th, #statsPage td{
    border: 1px solid rgb(69, 69, 69);
}

td.highlight, th.highlight {
    background-color: #a6993b; /* soft yellow, change if you want */
}

#statsPage th, #statsPage td{
    padding: 4px;
}

#statsPage th{
    min-width: 130px;
}

#playerTable thead th:first-child,
#playerTable tbody td:first-child {
    position: sticky;
    left: 0;
    background: rgb(43, 43, 43);
    z-index: 2; 
}

#playerPanel{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;

    background-color: rgba(255, 255, 255, 0.895);
    color: black;
    height: 69%;
    width: 60%;
    padding: 15px;
    font-size: 12px;

    overflow-y: scroll;
}

#titleInfo{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 3fr 1fr 3fr;
    grid-template-areas: 
        "name name name name name name close close"
        "archL archL archL pickL heightL ageL yearsProL ovrL"
        "arch arch arch pick height age yearsPro ovr";
    gap: 3px;
    font-size: 14px;
}

#cardInfo{
    font-size: 12px;
    gap: 10px;
}

#name{
    grid-area: name;

    font-size: 16px;
}
::placeholder{
    color: black;
}

#playerPanelClose{
    grid-area: close;
}

#arch{
    grid-area: arch;
}
#archL{
    grid-area: archL;
}

#pick{
    grid-area: pick;
}
#pickL{
    grid-area: pickL;
}

#height{
    grid-area: height;
}
#heightL{
    grid-area: heightL;
}

#age{
    grid-area: age;
}
#ageL{
    grid-area: ageL;
}

#yearsPro{
    grid-area: yearsPro;
}
#yearsProL{
    grid-area: yearsProL;
}

#ovr{
    grid-area: ovr;
}
#ovrL{
    grid-area: ovrL;
}

#archL, #heightL, #ageL, #yearsProL, #ovrL{
    font-size: 10px;
    color: rgb(56, 56, 56);
}



/*Playoff UI*/
#statsPanel{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;

    background-color: rgba(255, 255, 255, 0.895);
    height: 69%;
    width: 50%;
    padding: 15px;
    font-size: 12px;
}

#statsPanel th, #statsPanel td{
    border: 1px solid rgb(69, 69, 69);
}

#statsPanel button{

}

#statsBox{
    width: 100%;
}

#controlPanel{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;

    background-color: rgba(177, 177, 177, 0.912);
    height: 65%;
    width: 50%;
    padding: 15px;

    grid-template-columns: 1fr 1fr;
}

#control{
    display: flex;
    flex-direction: column;
}

#control button{
    font-size: 15px;
    height: 20%;
}

#showPanel{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 4fr 1fr 4fr;
    row-gap: 10px;
}

#team1Playoff, #team2Playoff{
    align-self: center;
    text-align: center;
}

#playOffPanel{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 50px;
}
#firstRound, #secondRound, #confFinals{
    align-content: center;
}

#firstRound #east, #firstRound #west{
    row-gap: 70px;
}

#secondRound #east, #secondRound #west{
    row-gap: 190px;
}

#east, #west{
    display: flex;
    flex-direction: column;
}

#playOffPanel button{
    width: 90%;
    align-self: center;
    height: 50px;
}


#finals{
    height: fit-content;
    justify-self: center;
}
