body{
    background-color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
}

header{
    height: 100px;
    padding: 10px;
}

header a{
    padding: 8px;
    border: 1px solid rgb(70, 166, 255);

    text-decoration: none;
    color: rgb(70, 166, 255);
}

/*Player and team stats page*/
#statsPage{
    background-color: rgb(43, 43, 43);
    color: rgb(159, 209, 255);
}

#playerTable, #teamTable{
    overflow-x: scroll;
    font-size: 13px;
}

#statsPage th, #statsPage td{
    border: 1px solid rgb(69, 69, 69);
}

td.highlight, th.highlight {
    background-color: #a6993b; /* soft yellow, change if you want */
}

#statsPage th, #statsPage td{
    padding: 4px;
}

#statsPage th{
    min-width: 130px;
}

#playerTable thead th:first-child,
#playerTable tbody td:first-child {
    position: sticky;
    left: 0;
    background: rgb(43, 43, 43);
    z-index: 2; 
}





/*Playoff UI*/
#statsPanel{
    position: absolute;
    position-area: center;
    display: none;

    background-color: rgba(255, 255, 255, 0.895);
    height: 69%;
    width: 50%;
    padding: 15px;
    font-size: 12px;
}

#statsPanel th, #statsPanel td{
    border: 1px solid rgb(69, 69, 69);
}

#statsPanel button{

}

#statsBox{
    width: 100%;
}

#controlPanel{
    position: absolute;
    position-area: center;
    display: none;

    background-color: rgba(134, 134, 134, 0.703);
    height: 65%;
    width: 50%;
    padding: 15px;

    grid-template-columns: 1fr 1fr;
}

#control{
    display: flex;
    flex-direction: column;
}

#control button{
    font-size: 15px;
    height: 20%;
}

#playOffPanel{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 50px;
}
#firstRound, #secondRound, #confFinals{
    align-content: center;
}

#firstRound #east, #firstRound #west{
    row-gap: 70px;
}

#secondRound #east, #secondRound #west{
    row-gap: 190px;
}

#east, #west{
    display: flex;
    flex-direction: column;
}

#playOffPanel button{
    width: 90%;
    align-self: center;
    height: 50px;
}


#finals{
    height: fit-content;
    justify-self: center;
}
